__pycache__/
*.pyc
*.glb

output/
output_remote/
work_dirs/
logs/
results/
checkpoints/
cached_spatial_aligned_DSM/

wandb/
.DS_Store
TODO.md
/data/
demo_train_2gpu.sh
app_launch.log
hf_space/
assets/
